/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- */

.clearfix:before {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: table;	
}

/* Typographical Elements
--------------------------------------------- */

body {
	background-color: #fff;
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #333;
	color: #fff;
}

::selection {
	background-color: #333;
	color: #fff;
}

a {
	color: #12739f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote {
	background: rgba(0,0,0,0.10);
	margin: 40px 40px 24px;
	font-style: italic;
	padding: 15px 20px;
	color: #444;
}

blockquote p:last-of-type {
	margin: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	border: 1px solid #e1e1e8;
	background-color: #f7f7f9
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

hr,
.clear-line,
img.wp-more-tag {
	overflow: hidden;
	width: 100%;
	height: 1px;
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px;
	padding: 20px 0 0;
}

i[class^="icon-"]:before,
i[class*=" icon-"]:before {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}


/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #999;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
	width: auto;
}

input:focus,
textarea:focus {
	border-color: #999;
	outline: none;
}

.input-large {
	font-size: 18px;
	padding: 15px;
}

select.input-large {
	height: 54px;
	line-height: 54px;
	padding-top: 12px;
}

.input-small {
	font-size: 12px;
	padding: 5px 10px;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

::-ms-input-placeholder {
	color: #999;
}

::-webkit-input-placeholder {
	color: #999;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder { 
	color:transparent; 
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.button.button-invert:hover {
	background-color: #333;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	width: auto;
	-webkit-appearance: none;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.button.button-invert {
	background-color: #f15123;
	color: #fff;
	text-decoration: none;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

.button.button-block {
	display: block;
	width: 100%;
}

.button.button-large {
	font-size: 28px;
	padding: 10px 20px;
}

.button.button-small {
	font-size: 13px;
	padding: 8px;
}

.button.button-mini {
	font-size: 11px;
	padding: 5px 8px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* Gallery
--------------------------------------------- */

.gallery {
    margin: 0 auto 40px;
    overflow: hidden;
    width: 100%;
}

.gallery-item {
    float: left;
    margin: 10px 0 0;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
    width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: both;
}

.gallery img {
    border: 2px solid #cfcfcf;
}

.gallery-caption {
    margin-left: 0;
}

/* Tables
--------------------------------------------- */

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

.table th,
.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table th {
	font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
	border-top: 0;
}

.table tbody + tbody {
	border-top: 2px solid #ddd;
}

.table .table {
	background-color: #fff;
}

.table-condensed th,
.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	border-left: 0;
	border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #ddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
	border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
	border-top-left-radius: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
	border-top-right-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
	border-bottom-left-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
	border-bottom-right-radius: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
	border-bottom-left-radius: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
	border-bottom-right-radius: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
	border-top-left-radius: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
	border-top-right-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: #f5f5f5;
}

/* Images
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

img.block {
	display: block;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

/* 
 * Column Classes 
 *
 * Width: 1140px
 * Gutter: 30px
 * Link: http://www.billerickson.net/column-class-generator/
--------------------------------------------- */

.five-sixths,
.four-sixths,
.four-fifths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-fifths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.6315789473684%;
}
 
.one-half,
.three-sixths,
.two-fourths {
	width: 48.684210526316%;
}
 
.one-third,
.two-sixths {
	width: 31.578947368421%;
}
 
.four-sixths,
.two-thirds {
	width: 65.789473684211%;
}
 
.one-fourth {
	width: 23.026315789474%;
}
 
.three-fourths {
	width: 74.342105263158%;
}
 
.one-fifth {
	width: 17.894736842105%;
}
 
.two-fifths {
	width: 38.421052631579%;
}
 
.three-fifths {
	width: 58.947368421053%;
}
 
.four-fifths {
	width: 79.473684210526%;
}
 
.one-sixth {
	width: 14.473684210526%;
}
 
.five-sixths {
	width: 82.894736842105%;
}
 
.first {
	clear: both;
	margin-left: 0;
}