/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 41, src/lib/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, src/lib/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, src/lib/grid.scss */
body:after {
  clear: both;
}

/* Reusable Colors
	 Often used to set a color scheme. Change
	 how you please.
--------------------------------------------- */
/* Header
--------------------------------------------- */
/* Navigation
--------------------------------------------- */
/* Body
--------------------------------------------- */
/* Links
--------------------------------------------- */
/* Forms
--------------------------------------------- */
/* Tables
--------------------------------------------- */
/* Pagination
--------------------------------------------- */
/* Comments
--------------------------------------------- */
/* Widgets
--------------------------------------------- */
/* Footer
--------------------------------------------- */
/* Break Points
------------------------------------------------- */
/* line 61, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.625em;
}

/* line 10, src/partials/typography.scss */
body {
  background-color: white;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.625;
}

/* line 25, src/partials/typography.scss */
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 29, src/partials/typography.scss */
::-moz-selection, ::selection {
  background-color: #333333;
  color: white;
}

/* line 34, src/partials/typography.scss */
a {
  color: #333333;
  text-decoration: none;
}

/* line 39, src/partials/typography.scss */
a:hover {
  color: black;
}

/* line 43, src/partials/typography.scss */
p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 1.625em;
  padding: 0;
}

/* line 50, src/partials/typography.scss */
strong {
  font-weight: 700;
}

/* line 54, src/partials/typography.scss */
em {
  font-style: italic;
}

/* line 59, src/partials/typography.scss */
ol,
ul {
  margin: 0;
  padding: 0;
}

/* line 65, src/partials/typography.scss */
blockquote,
blockquote::before {
  color: #999999;
}

/* line 69, src/partials/typography.scss */
blockquote {
  margin: 40px 40px 24px;
}

/* line 73, src/partials/typography.scss */
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 1.875em;
  line-height: 1.73333em;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

/* line 84, src/partials/typography.scss */
code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.75em;
  line-height: 2.16667em;
  color: #333333;
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
}

/* line 92, src/partials/typography.scss */
code {
  padding: 2px 4px;
  white-space: nowrap;
}

/* line 97, src/partials/typography.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}

/* line 108, src/partials/typography.scss */
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

/* line 117, src/partials/typography.scss */
cite {
  font-style: normal;
}

/* line 121, src/partials/typography.scss */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.6em;
  font-size: 11.2px;
}

/* line 128, src/partials/typography.scss */
sub {
  top: 0.4em;
}

/* line 132, src/partials/typography.scss */
var {
  font-style: italic;
}

/* line 136, src/partials/typography.scss */
dt {
  font-weight: 600;
}

/* line 140, src/partials/typography.scss */
dd {
  margin: 0 0 1em 1em;
}

/* line 144, src/partials/typography.scss */
address {
  margin-bottom: 26px;
}

/* Headings
--------------------------------------------- */
/* line 156, src/partials/typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

/* line 164, src/partials/typography.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.44444em;
}

/* line 168, src/partials/typography.scss */
h2 {
  font-size: 1.875em;
  line-height: 1.73333em;
}

/* line 172, src/partials/typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 2.16667em;
}

/* line 176, src/partials/typography.scss */
h4 {
  font-size: 1.25em;
  line-height: 1.3em;
}

/* line 180, src/partials/typography.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.44444em;
}

/* line 184, src/partials/typography.scss */
h6 {
  font-size: 1em;
  line-height: 1.625em;
}

/* line 6, src/partials/objects.scss */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

/* line 10, src/partials/objects.scss */
img {
  height: auto;
  width: auto;
  /* IE8 */
}

/* Forms
--------------------------------------------- */
/* line 6, src/partials/forms.scss */
input,
select,
textarea {
  background-color: white;
  border: 1px solid #dddddd;
  -webkit-box-shadow: #eeeeee 1px 1px 3px inset;
  -moz-box-shadow: #eeeeee 1px 1px 3px inset;
  box-shadow: #eeeeee 1px 1px 3px inset;
  color: #333333;
  font-size: 0.875em;
  line-height: 1.85714em;
  padding: 10px;
  width: 100%;
}

/* line 17, src/partials/forms.scss */
input:focus,
textarea:focus {
  border: 1px solid #333333;
  outline: none;
}

/* line 22, src/partials/forms.scss */
.input-large {
  font-size: 1.125em;
  line-height: 1.44444em;
  padding: 15px;
}

/* line 27, src/partials/forms.scss */
select.input-large {
  height: 54px;
  line-height: 54px;
  padding-top: 12px;
}

/* line 33, src/partials/forms.scss */
.input-small {
  font-size: 0.75em;
  line-height: 2.16667em;
  padding: 5px 10px;
}

/* line 38, src/partials/forms.scss */
::-moz-placeholder {
  color: #333333;
  opacity: 1;
}

/* line 43, src/partials/forms.scss */
::-webkit-input-placeholder {
  color: #333333;
}

/* line 48, src/partials/forms.scss */
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder {
  color: transparent;
}

/* line 56, src/partials/forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: #999999;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 64, src/partials/forms.scss */
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  background-color: #f15123;
  color: white;
}

/* line 68, src/partials/forms.scss */
.button.button-invert {
  background-color: #f15123;
  color: white;
}
/* line 71, src/partials/forms.scss */
.button.button-invert:hover {
  background-color: #999999;
  border: none;
  box-shadow: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 76, src/partials/forms.scss */
.entry-content .button:hover {
  color: white;
}

/* line 80, src/partials/forms.scss */
.button {
  display: inline-block;
}

/* line 84, src/partials/forms.scss */
.button.button-block {
  display: block;
  width: 100%;
}

/* line 89, src/partials/forms.scss */
.button.button-large {
  font-size: 1.75em;
  line-height: 1.85714em;
  padding: 10px 20px;
}

/* line 94, src/partials/forms.scss */
.button.button-small {
  font-size: 0.8125em;
  line-height: 2em;
  padding: 8px;
}

/* line 99, src/partials/forms.scss */
.button.button-mini {
  font-size: 0.6875em;
  line-height: 2.36364em;
  padding: 5px 8px;
}

/* line 105, src/partials/forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

/* Gravity Forms
--------------------------------------------- */
/* line 115, src/partials/forms.scss */
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
  font-size: 1em;
  line-height: 1.625em;
  padding: 5px 10px;
}

/* line 120, src/partials/forms.scss */
div.gform_wrapper .ginput_complex label {
  padding: 0;
}

/* line 125, src/partials/forms.scss */
div.gform_wrapper li,
div.gform_wrapper form li {
  margin: 16px 0 0;
}

/* line 129, src/partials/forms.scss */
div.gform_wrapper .gform_footer input[type="submit"] {
  font-size: 0.875em;
  line-height: 1.85714em;
}

/* Tables
--------------------------------------------- */
/* line 4, src/partials/tables.scss */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, src/partials/tables.scss */
.table {
  width: 100%;
  margin-bottom: 20px;
}
/* line 15, src/partials/tables.scss */
.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 23, src/partials/tables.scss */
.table th {
  font-weight: bold;
}
/* line 27, src/partials/tables.scss */
.table thead th {
  vertical-align: bottom;
}
/* line 36, src/partials/tables.scss */
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 40, src/partials/tables.scss */
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}
/* line 44, src/partials/tables.scss */
.table .table {
  background-color: white;
}

/* line 50, src/partials/tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 54, src/partials/tables.scss */
.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 64, src/partials/tables.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}
/* line 76, src/partials/tables.scss */
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 82, src/partials/tables.scss */
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 88, src/partials/tables.scss */
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 96, src/partials/tables.scss */
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 104, src/partials/tables.scss */
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 108, src/partials/tables.scss */
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 112, src/partials/tables.scss */
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 119, src/partials/tables.scss */
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 126, src/partials/tables.scss */
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 134, src/partials/tables.scss */
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* line 139, src/partials/tables.scss */
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: whitesmoke;
}

/* Setup column dimensions
--------------------------------------------- */
/* Box Sizing
--------------------------------------------- */
/* line 11, src/partials/layout.scss */
*,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Site Containers
--------------------------------------------- */
/* line 17, src/partials/layout.scss */
.site-container {
  position: relative;
}

/* line 21, src/partials/layout.scss */
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
}

/* line 27, src/partials/layout.scss */
.site-inner {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* Column Widths and Positions
--------------------------------------------- */
/* Content */
/* line 39, src/partials/layout.scss */
.content {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 44, src/partials/layout.scss */
.content-sidebar .content {
  float: left;
}

/* line 48, src/partials/layout.scss */
.full-width-content .content {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* Primary Sidebar */
/* line 54, src/partials/layout.scss */
.sidebar-primary {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 59, src/partials/layout.scss */
.sidebar-content .sidebar-primary {
  float: left;
}

/* Column Classes - Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
/* line 68, src/partials/layout.scss */
.one-half,
.three-sixths,
.two-fourths {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
}

/* line 73, src/partials/layout.scss */
.one-third,
.two-sixths {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* line 78, src/partials/layout.scss */
.four-sixths,
.two-thirds {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}

/* line 82, src/partials/layout.scss */
.one-fourth {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}

/* line 86, src/partials/layout.scss */
.three-fourths {
  display: inline;
  float: left;
  width: 72.91667%;
  margin: 0 1.04167%;
}

/* line 90, src/partials/layout.scss */
.one-fifth {
  width: 17.9487179487179488%;
  float: left;
}

/* line 95, src/partials/layout.scss */
.two-fifths {
  width: 38.4615384615384616%;
  float: left;
}

/* line 100, src/partials/layout.scss */
.three-fifths {
  width: 58.9743589743589744%;
  float: left;
}

/* line 105, src/partials/layout.scss */
.four-fifths {
  width: 79.4871794871794872%;
  float: left;
}

/* line 110, src/partials/layout.scss */
.one-sixth {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
}

/* line 114, src/partials/layout.scss */
.five-sixths {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
}

/* line 118, src/partials/layout.scss */
.first {
  clear: both;
  margin-left: 0;
}

@media only screen and (max-width: 1139px) {
  /* line 125, src/partials/layout.scss */
  .wrap {
    max-width: 960px;
  }
}
@media only screen and (max-width: 959px) {
  /* line 133, src/partials/layout.scss */
  .wrap {
    max-width: 767px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 141, src/partials/layout.scss */
  body {
    background-color: white;
  }

  /* line 145, src/partials/layout.scss */
  .wrap {
    display: block;
    width: 102.08333%;
    margin: 0 -1.04167%;
    overflow: hidden;
    *zoom: 1;
    padding: 20px 0;
  }

  /* line 150, src/partials/layout.scss */
  .site-inner {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }

  /* line 168, src/partials/layout.scss */
  .five-sixths,
  .four-fifths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-fifth,
  .one-sixth,
  .one-third,
  .three-fifths,
  .three-fourths,
  .three-sixths,
  .two-fifths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    margin: 0;
  }
}
/* WordPress
--------------------------------------------- */
/* line 4, src/partials/wordpress.scss */
.avatar {
  float: left;
}

/* line 8, src/partials/wordpress.scss */
.alignleft .avatar {
  margin-right: 24px;
}

/* line 12, src/partials/wordpress.scss */
.alignright .avatar {
  margin-left: 24px;
}

/* line 17, src/partials/wordpress.scss */
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

/* line 22, src/partials/wordpress.scss */
img.alignnone {
  margin-bottom: 12px;
}

/* line 26, src/partials/wordpress.scss */
.alignleft {
  float: left;
  text-align: left;
}

/* line 31, src/partials/wordpress.scss */
.alignright {
  float: right;
  text-align: right;
}

/* line 37, src/partials/wordpress.scss */
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

/* line 42, src/partials/wordpress.scss */
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

/* line 46, src/partials/wordpress.scss */
.wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

/* line 55, src/partials/wordpress.scss */
.widget_calendar table {
  width: 100%;
}

/* line 59, src/partials/wordpress.scss */
.widget_calendar td {
  text-align: center;
}

/* Site Header
---------------------------------------------------------------------------------------------------- */
/* line 4, src/partials/header.scss */
.site-header {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  background-color: white;
}

/* Title Area
--------------------------------------------- */
/* line 16, src/partials/header.scss */
.title-area {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
  font-weight: 700;
  float: left;
  padding: 16px 0;
}

/* line 23, src/partials/header.scss */
.site-title {
  font-size: 1.75em;
  line-height: 1.85714em;
  margin: 0 0 8px;
  text-transform: uppercase;
}

/* line 30, src/partials/header.scss */
.site-title a,
.site-title a:hover {
  color: #999999;
}

/* line 34, src/partials/header.scss */
.site-description {
  color: #333333;
  font-size: 1em;
  line-height: 1.625em;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0;
}

/* Full width header, no widgets */
/* line 45, src/partials/header.scss */
.header-full-width .title-area,
.header-full-width .site-title {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* Widget Area
--------------------------------------------- */
/* line 53, src/partials/header.scss */
.site-header .widget-area {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
  float: right;
  text-align: right;
}

/* line 59, src/partials/header.scss */
.header-image .site-header .widget-area {
  padding: 40px 0;
}

/* line 63, src/partials/header.scss */
.site-header .search-form {
  float: right;
  margin-top: 24px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 74, src/partials/header.scss */
  .header-image .site-header .wrap {
    background: url(images/logo@2x.png) no-repeat left;
    background-size: 360px 164px;
  }
}
@media only screen and (max-width: 1139px) {
  /* line 83, src/partials/header.scss */
  .site-header .widget-area {
    display: inline;
    float: left;
    width: 64.58333%;
    margin: 0 1.04167%;
  }

  /* line 87, src/partials/header.scss */
  .title-area {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 101, src/partials/header.scss */
  .site-header .widget-area,
  .site-inner,
  .title-area {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }

  /* line 105, src/partials/header.scss */
  .header-image .site-header .wrap {
    background-position: center top;
  }

  /* line 110, src/partials/header.scss */
  .header-image .site-header .widget-area,
  .site-header {
    padding: 0;
  }

  /* line 115, src/partials/header.scss */
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none;
  }

  /* line 122, src/partials/header.scss */
  .site-description,
  .site-header .title-area,
  .site-header .search-form,
  .site-title {
    text-align: center;
  }
}
/* Site Navigation
---------------------------------------------------------------------------------------------------- */
/* line 4, src/partials/navigation.scss */
.genesis-nav-menu {
  clear: both;
  color: #333333;
  line-height: 1.5;
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}
/* line 10, src/partials/navigation.scss */
.genesis-nav-menu .menu-item {
  float: left;
  list-style: none;
}
/* line 14, src/partials/navigation.scss */
.genesis-nav-menu .menu-item:hover {
  position: static;
}
/* line 18, src/partials/navigation.scss */
.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}
/* line 24, src/partials/navigation.scss */
.genesis-nav-menu a {
  border: none;
  color: #333333;
  display: block;
  padding: 28px 24px;
  position: relative;
}
/* line 33, src/partials/navigation.scss */
.genesis-nav-menu a:hover,
.genesis-nav-menu a .current-menu-item > a,
.genesis-nav-menu a .sub-menu .current-menu-item > a:hover {
  color: #999999;
}
/* line 38, src/partials/navigation.scss */
.genesis-nav-menu .sub-menu .current-menu-item > a {
  color: #333333;
}
/* line 42, src/partials/navigation.scss */
.genesis-nav-menu > .menu-item > a {
  text-transform: uppercase;
}
/* line 46, src/partials/navigation.scss */
.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99;
}
/* line 54, src/partials/navigation.scss */
.genesis-nav-menu .sub-menu a {
  background-color: white;
  border: 1px solid #eeeeee;
  border-top: none;
  font-size: 14px;
  padding: 16px 20px;
  position: relative;
  width: 200px;
}
/* line 64, src/partials/navigation.scss */
.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 199px;
}
/* line 71, src/partials/navigation.scss */
.genesis-nav-menu > .first > a {
  padding-left: 0;
}
/* line 75, src/partials/navigation.scss */
.genesis-nav-menu > .last > a {
  padding-right: 0;
}
/* line 79, src/partials/navigation.scss */
.genesis-nav-menu > .right {
  float: right;
  list-style-type: none;
  padding: 28px 0;
  text-transform: uppercase;
}
/* line 86, src/partials/navigation.scss */
.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}
/* line 91, src/partials/navigation.scss */
.genesis-nav-menu > .rss > a {
  margin-left: 48px;
}
/* line 95, src/partials/navigation.scss */
.genesis-nav-menu > .search {
  padding: 14px 0 0;
}

/* Primary Navigation
--------------------------------------------- */
/* line 104, src/partials/navigation.scss */
.nav-primary {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

/* Secondary Navigation
--------------------------------------------- */
@media only screen and (max-width: 767px) {
  /* line 125, src/partials/navigation.scss */
  .genesis-nav-menu li,
  .site-header ul.genesis-nav-menu {
    float: none;
  }

  /* line 129, src/partials/navigation.scss */
  .genesis-nav-menu {
    text-align: center;
  }
}
/* Content Area
---------------------------------------------------------------------------------------------------- */
/* Entries
--------------------------------------------- */
/* line 7, src/partials/content.scss */
.entry {
  margin-bottom: 40px;
}

/* line 14, src/partials/content.scss */
.entry-content .attachment a,
.entry-content .gallery a {
  border: none;
}
/* line 20, src/partials/content.scss */
.entry-content ol,
.entry-content p,
.entry-content ul {
  margin-bottom: 26px;
}
/* line 25, src/partials/content.scss */
.entry-content ol,
.entry-content ul {
  margin-left: 40px;
}
/* line 29, src/partials/content.scss */
.entry-content ol li {
  list-style-type: decimal;
}
/* line 33, src/partials/content.scss */
.entry-content ul li {
  list-style-type: disc;
}
/* line 38, src/partials/content.scss */
.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}
/* line 43, src/partials/content.scss */
.entry-content ul.list-unstyled,
.entry-content ol.list-unstyled {
  margin-left: 20px;
}
/* line 48, src/partials/content.scss */
.entry-content ul.list-unstyled > li,
.entry-content ol.list-unstyled > li {
  list-style: none;
}
/* line 52, src/partials/content.scss */
.entry-content .search-form {
  width: 50%;
}

/* line 57, src/partials/content.scss */
.quote-caption {
  margin-bottom: 26px;
}

/* line 61, src/partials/content.scss */
.entry-meta {
  clear: both;
  color: #333333;
  font-size: 0.875em;
  line-height: 1.85714em;
}

/* line 67, src/partials/content.scss */
.entry-header .entry-meta {
  margin-bottom: 24px;
}

/* line 71, src/partials/content.scss */
.entry-title {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* Entry Navigation
--------------------------------------------- */
/* line 79, src/partials/content.scss */
.pagination {
  clear: both;
  font-size: 0.875em;
  line-height: 1.85714em;
  margin: 40px 0;
}
/* line 84, src/partials/content.scss */
.pagination li {
  display: inline;
}
/* line 86, src/partials/content.scss */
.pagination li a {
  background-color: #999999;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
}
/* line 93, src/partials/content.scss */
.pagination li a:hover {
  background-color: #f15123;
}
/* line 98, src/partials/content.scss */
.pagination li.active a {
  background-color: #f15123;
}

@media only screen and (max-width: 767px) {
  /* line 114, src/partials/content.scss */
  .content {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }

  /* line 121, src/partials/content.scss */
  .archive-description,
  .author-box,
  .entry,
  .entry-footer .entry-meta {
    padding: 0;
  }
}
/* Comments
--------------------------------------------- */
/* line 6, src/partials/comments.scss */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: white;
  margin-bottom: 40px;
}

/* line 11, src/partials/comments.scss */
.entry-comments {
  padding: 40px;
}

/* line 16, src/partials/comments.scss */
.comment-respond,
.entry-pings {
  padding: 40px 40px 16px;
}

/* line 20, src/partials/comments.scss */
.entry-comments .comment-author {
  margin-bottom: 0;
}

/* line 28, src/partials/comments.scss */
.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}
/* line 32, src/partials/comments.scss */
.comment-respond label {
  display: block;
  margin-right: 12px;
}
/* line 37, src/partials/comments.scss */
.comment-respond label[for="subscribe"] {
  display: inline-block;
}

/* line 44, src/partials/comments.scss */
.comment-list li,
.ping-list li {
  list-style-type: none;
}

/* line 48, src/partials/comments.scss */
.comment-list li {
  margin-top: 24px;
  padding: 32px;
}

/* line 53, src/partials/comments.scss */
li.comment {
  background-color: whitesmoke;
  border: 2px solid white;
  border-right: none;
}

/* line 59, src/partials/comments.scss */
.comment .avatar {
  margin: 0 16px 24px 0;
}

/* line 63, src/partials/comments.scss */
.entry-pings .reply {
  display: none;
}

/* line 70, src/partials/comments.scss */
.form-allowed-tags {
  background-color: whitesmoke;
  font-size: 0.875em;
  line-height: 1.85714em;
  padding: 24px;
}

@media only screen and (max-width: 767px) {
  /* line 87, src/partials/comments.scss */
  .entry-comments,
  .comment-respond {
    padding: 0;
  }
}
/* Sidebars
---------------------------------------------------------------------------------------------------- */
/* line 6, src/partials/sidebars.scss */
.sidebar p:last-child {
  margin-bottom: 0;
}
/* line 10, src/partials/sidebars.scss */
.sidebar li {
  list-style-type: none;
  margin-bottom: 6px;
  word-wrap: break-word;
}
/* line 16, src/partials/sidebars.scss */
.sidebar ul > li:last-child {
  margin-bottom: 0;
}
/* line 20, src/partials/sidebars.scss */
.sidebar .widget {
  background-color: white;
  margin-bottom: 40px;
  padding: 40px;
}

@media only screen and (max-width: 767px) {
  /* line 44, src/partials/sidebars.scss */
  .sidebar-primary,
  .sidebar-secondary {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }

  /* line 48, src/partials/sidebars.scss */
  .sidebar .widget {
    padding: 0;
  }
}
/* Widgets
---------------------------------------------------------------------------------------------------- */
/* Featured Content
--------------------------------------------- */
/* line 9, src/partials/widgets.scss */
.featured-content .entry {
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 20px;
  padding: 0 0 24px;
}
/* line 15, src/partials/widgets.scss */
.featured-content .entry-title {
  border: none;
  font-size: 1.5em;
  line-height: 2.16667em;
}
/* line 19, src/partials/widgets.scss */
.featured-content .entry-title a {
  border: none;
}

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* line 30, src/partials/widgets.scss */
.footer-widgets {
  background-color: #999999;
  color: #333333;
  clear: both;
  padding: 40px 0 16px;
}
/* line 36, src/partials/widgets.scss */
.footer-widgets .widget-area {
  float: left;
  padding: 0 20px;
  width: 33.3333%;
}
/* line 42, src/partials/widgets.scss */
.footer-widgets a {
  color: #333333;
}
/* line 45, src/partials/widgets.scss */
.footer-widgets a:hover {
  color: #dddddd;
}
/* line 50, src/partials/widgets.scss */
.footer-widgets .widget {
  margin-bottom: 24px;
}
/* line 54, src/partials/widgets.scss */
.footer-widgets .widgettitle {
  color: white;
}
/* line 58, src/partials/widgets.scss */
.footer-widgets li {
  list-style-type: none;
  margin-bottom: 6px;
  word-wrap: break-word;
}
/* line 64, src/partials/widgets.scss */
.footer-widgets .search-form input:focus {
  border: 1px solid #dddddd;
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */
/* line 4, src/partials/footer.scss */
.site-footer {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
  background-color: white;
  color: #333333;
  font-size: 0.875em;
  line-height: 1.85714em;
  padding: 40px 0;
  text-align: center;
}
/* line 12, src/partials/footer.scss */
.site-footer p {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  /* line 28, src/partials/footer.scss */
  .footer-widgets .widget-area {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}
