/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 3.508771929%; /* 40px / 1140px */
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.245614035%; /* 550px / 1140px */
}

.one-third,
.two-sixths {
	width: 30.96491228%; /* 352px / 1140px */
}

.four-sixths,
.two-thirds {
	width: 65.614035087%; /* 748px / 1140px */
}

.one-fourth {
	width: 22.368421052%; /* 255px / 1140px */
}

.three-fourths {
	width: 74.122807017%; /* 845px / 1140px */
}

.one-fifth {
	width: 17.192982456%; /* 196px / 1140px */
}

.two-fifths {
	width: 37.894736842%; /* 432px / 1140px */
}

.three-fifths {
	width: 58.596491228%; /* 668px / 1140px */
}

.four-fifths {
	width: 79.298245614%; /* 904px / 1140px */
}

.one-sixth {
	width: 13.684210526%; /* 156px / 1140px */
}

.five-sixths {
	width: 82.807017543%; /* 944px / 1140px */
}

.first {
	clear: both;
	margin-left: 0;
}

/* Images
------------------------------------------------------------ */

img {
	height: auto;
	width: auto; /* IE8 */
}