/*
	Theme Name: Your Website
	Description: Child theme of Genesis, by <a href="http://www.billerickson.net/go/genesis">StudioPress</a>.
	Author: Bill Erickson
	Author URI: http://www.billerickson.net
	
	Template: genesis
*/


/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Reset (normalize.css 2.1.0)
   Link: http://necolas.github.com/normalize.css/
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

address:before, address:after,
article:before, article:after,
aside:before, aside:after,
audio:before, audio:after,
blockquote:before, blockquote:after,
canvas:before, canvas:after,
dd:before, dd:after,
div:before, div:after,
dl:before, dl:after,
fieldset:before, fieldset:after,
figcaption:before, figcaption:after,
figure:before, figure:after,
footer:before, footer:after,
form:before, form:after,
header:before, header:after,
hr:before, hr:after,
main:before, main:after,
output:before, output:after,
pre:before, pre:after,
section:before, section:after,
table:before, table:after,
tfoot:before, tfoot:after,
video:before, video:after,
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

address:after,
article:after,
aside:after,
audio:after,
blockquote:after,
canvas:after,
dd:after,
div:after,
dl:after,
fieldset:after,
figcaption:after,
figure:after,
footer:after,
form:after,
header:after,
hr:after,
main:after,
output:after,
pre:after,
section:after,
table:after,
tfoot:after,
video:after,
.clearfix:after {
	clear: both;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background: #fff;
	color: #666;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.625;
}

a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background: #333;
	color: #fff;
}

::selection {
	background: #333;
	color: #fff;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #333;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote,
blockquote::before {
	color: #999;
}

blockquote {
	margin: 0;
	padding: 24px 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

cite {
	font-style: normal;
}

/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	width: auto; /* IE8 */
}

.format-gallery #gallery-1 img {
	border: none;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #eee inset;
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 5px 10px;
	width: 100%;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #333;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 5px 10px;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"] {
	background: #f15123;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.button {
	display: inline-block;
}

/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.site-inner {
	clear: both;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content  */

.content {
	float: right;
	width: 64.912280702%; /* 740/1140 */
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 31.578947368%; /* 360/1140 */
}

.sidebar-content .sidebar-primary {
	float: left;
}

/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin: 0 0 20px 3%;
}
 
.one-half,
.three-sixths,
.two-fourths {
    width: 48%;
}
 
.one-third,
.two-sixths {
    width: 31%;
}
 
.four-sixths,
.two-thirds {
    width: 65%;
}
 
.one-fourth {
    width: 22.5%;
}
 
.three-fourths {
    width: 73.5%;
}
 
.one-fifth {
    width: 17.4%;
}
 
.two-fifths {
    width: 37.8%;
}
 
.three-fifths {
    width: 58.2%;
}
 
.four-fifths {
    width: 78.6%;
}
 
.one-sixth {
    width: 14%;
}
 
.five-sixths {
    width: 82%;
}
 
.first {
    clear: both;
    margin-left: 0;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td {
	text-align: center;
}

/* Genesis
--------------------------------------------- */

.breadcrumb {
	margin-bottom: 20px;
}

.archive-description,
.author-box {
	background: #fff;
	margin-bottom: 40px;
}

.archive-description {
	padding: 40px 40px 24px;
}

.author-box {
	padding: 40px;
}

.author-box-title {
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 4px;
}

.author-box p {
	margin: 0;
}

.author-box .avatar {
	margin-right: 24px;
}

/* Headings
--------------------------------------------- */

.entry-title {
	font-size: 36px;
	line-height: 1;
}

.entry-title a,
.sidebar .widgettitle a {
	color: #333;
}

.entry-title a:hover {
	color: #666;
}

.archive-title {
	font-size: 20px;
	margin-bottom: 24px;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Featured Page and Featured Post
--------------------------------------------- */

.featured-content .entry {
	margin-bottom: 12px;
	padding: 0;
}


/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Gravity Forms
--------------------------------------------- */

.site-inner div.gform_wrapper input[type="text"],
.site-inner div.gform_wrapper textarea,
.site-inner div.gform_wrapper .ginput_complex label {
	font-size: 16px;
	padding: 5px 10px;
}

.site-inner div.gform_wrapper .ginput_complex label {
	padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 16px 0 0;
}

.site-inner div.gform_wrapper input[type="submit"] {
	font-size: 14px;
}

/*
Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	padding: 40px 0;
}

.header-image .site-header {
	padding: 0;
}

/* Title Area
--------------------------------------------- */

.title-area {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	float: left;
	padding: 16px 0;
	width: 360px;
}

.site-title {
	font-size: 28px;
	letter-spacing: 2px;
	line-height: 1;
	margin: 0 0 8px;
	text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
	color: #333;
}

.site-description {
	color: #999;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
}

/* Full width header, no widgets */

.header-full-width .title-area,
.header-full-width .site-title {
	width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
	display: block;
	text-indent: -9999px;
}

/* Logo, hide text */

.header-image .title-area {
	padding: 0;
}

.header-image .site-title a {
	float: left;
	min-height: 164px;
	width: 100%;
}


/* Widget Area
--------------------------------------------- */

.site-header .widget-area {
	float: right;
	text-align: right;
	width: 740px;
}

.site-header .search-form {
	float: right;
	margin-top: 24px;
}


/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
}

.genesis-nav-menu a {
	border: none;
	color: #999;
	display: block;
	padding: 28px 24px;
	position: relative;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #333;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #999;
}

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
	left: -9999px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background: #fff;
	border: 1px solid #eee;
	border-top: none;
	letter-spacing: 0;
	padding: 16px 20px;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 28px 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search {
	padding: 14px 0 0;
}


/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background: #333;
}

.nav-primary a:hover,
.nav-primary .current-menu-item > a {
	color: #fff;
}

.nav-primary .sub-menu a:hover {
	color: #333;
}


/*
Content Area
---------------------------------------------------------------------------------------------------- */

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol li,
.entry-content ul li {
	margin-left: 40px;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul,
.entry-content .wp-caption p {
	margin-bottom: 0;
}

.entry-meta {
	clear: both;
	color: #999;
	font-size: 14px;
}

.entry-meta a {
	font-weight: 700;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-meta .entry-comments::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	padding: 32px 0 8px;
}

.entry-meta .entry-categories,
.entry-meta .entry-tags {
	display: block;
}

/* Entry Navigation
--------------------------------------------- */

.navigation {
	font-size: 14px;
	margin: 40px 0;
}

.navigation li {
	display: inline;
}

.navigation li a {
	background: #333;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: 8px 12px;
}

.navigation li a:hover,
.navigation li.active a {
	background: #f15123;
}

/* Comments
--------------------------------------------- */

#comments,
#respond {
	background: #fff;
	padding: 40px;
}

.ping-list,
#comments,
#respond {
	margin-bottom: 40px;
}

#comments .comment-author {
	margin: 0;
}

#respond input[type="email"],
#respond input[type="text"],
#respond input[type="url"] {
	width: 50%
}

#respond label {
	display: block;
	margin-right: 12px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	margin-right: -32px;
}

li.comment {
	background: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.bypostauthor {
}

.form-allowed-tags {
	background: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}


/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
	color: #999;
	display: block;
	font-size: 14px;
}

.sidebar p:last-child,
.sidebar ul {
	margin: 0;
}

.sidebar li {
	list-style-type: none;
	margin-bottom: 6px;
	padding: 0;
	word-wrap: break-word;
}

.sidebar ul > li:last-child {
	margin-bottom: 0;
}

.sidebar .widget {
	background: #fff;
	border-radius: 3px;
	margin-bottom: 40px;
	padding: 40px;
}

.sidebar .enews-widget {
	background: #333;
}


/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: #333;
	color: #999;
	clear: both;
	font-size: 14px;
	padding: 40px 0 16px;
}

.footer-widgets .widget-area {
	width: 33.3333%;
	padding: 0 20px;
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
}

.footer-widgets-3 {
	float: right;
}

.footer-widgets a {
	color: #999;
}

.footer-widgets a:hover {
	color: #ccc;
}

.footer-widgets .widget {
	margin-bottom: 24px;
}

.footer-widgets .widgettitle {
	color: #fff;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}


/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	color: #999;
	font-size: 14px;
	padding: 40px 0;
	text-align: center;
}

.site-footer p {
	margin: 0;
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1139px) {

	.wrap {
		max-width: 960px;
	}

	.site-header .widget-area {
		width: 620px;
	}

	.title-area {
		width: 300px;
	}

}

@media only screen and (max-width: 767px) {

	.content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar-primary,
	.sidebar-secondary,
	.site-header .widget-area,
	.title-area,
	.wrap {
		width: 100%;
	}

	.site-inner {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.entry,
	.entry-footer .entry-meta,
	.sidebar .widget,
	.site-header,
	#comments,
	#respond {
		padding: 0;
	}

	.site-inner {
		background: none;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.genesis-nav-menu a,
	.genesis-nav-menu > .first > a,
	.genesis-nav-menu > .last > a {
		padding: 20px 16px;
	}

	.site-header .search-form {
		margin: 16px auto ;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

	.site-footer {
		padding: 24px 0;
	}

	.footer-widgets {
		padding: 40px 5% 16px;
	}

	.footer-widgets-1 {
		margin: 0;
	}

	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

}
