/*
	Theme Name:  Your Website
	Description: Custom child theme for the <a href="http://genesistheme.com">Genesis Framework</a>.
	Author:      Bill Erickson
	Author URI:  https://www.billerickson.net
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/

/*
BEFORE MODIFYING THIS THEME:
Please read the instructions here (private repo): https://github.com/billerickson/EA-Starter/wiki
Devs, contact me if you need access
*/
