// Base Font
$base-font-family: sans-serif;
$base-margin: 32px;

// Colors
$white: #fff;
$grey_1: #ccc;
$grey_2: #333;
$black: #000;
$green_1: #50BD3A;

$base-color: $grey_2;
$highlight: $green_1;
$border-color: $grey_1;

// Brand Colors
$bc_facebook: #3b5998;
$bc_twitter: #1da1f2;
$bc_googleplus: #dd4b39;
$bc_pinterest: #bd081c;
$bc_email: $grey_2;
$bc_print: $grey_2;

// Bootstrap
$grid-gutter-width: 30px;
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$max-width: 1356px;

// Sidr
$sidr_width: 345px;
$sidr_close: 44px;
$sidr_total: $sidr_width + $sidr_close;

// Breakpoints
$breakpoints: (
  'mobile': $screen-xs,
  'tablet': $screen-sm,
  'medium': $screen-md,
  'large' : $screen-lg,
  'max'   : $max-width,
  'sidr_total': $sidr_total,
);

@import "../vendor/bootstrap"; // Note: Unused CSS parts have been disabled
@import "../vendor/include-media";
@import "../modules/helpers";
