/* Post Listing
--------------------------------------------- */

.post-listing-block {

	header, footer {
		grid-column: 1 / -1;
		width: 100%;
		@include clearfix;
	}

	footer {
		position: relative;
		margin-top: -20px;

		a {
			color: $highlight;
			display: inline-block;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: .5px;
			text-decoration: none;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
		}
	}

	@supports( display: $grid ) {

		&.layout3 {
			@include media(">=tablet") {
				display: grid;
				grid-template-columns: repeat( 3, 1fr );
				grid-column-gap: $grid-gap;
			}
		}

		&.layout4 {
			@include media(">=tablet") {
				display: grid;
				grid-template-columns: repeat( 2, 1fr );
				grid-column-gap: $grid-gap;
			}
			@include media(">=medium") {
				grid-template-columns: repeat( 4, 1fr );
			}
		}

		&.layout2x2 {
			display: grid;
			grid-template-columns: repeat( 2, 1fr );
			grid-column-gap: 16px;
			@include media(">=tablet") {
				grid-column-gap: $grid-gap;
			}
		}

		&.layout1x3 {
			@include media(">=tablet") {
				display: grid;
				grid-template-columns: repeat( 2, 1fr );
				grid-column-gap: $grid-gap;
				align-items: start;

				.feature {
					grid-row: span 4;
				}

				.secondary .post-summary__image {
					margin: 0;
				}

				footer {
					margin-top: -16px;
				}
			}
		}
	}
}
