/*
 * Column Classes
 *
 * Width: 1140px
 * Gutter: 30px
 * Link: http://www.billerickson.net/column-class-generator/
--------------------------------------------- */

@include media(">=tablet") {

	.five-sixths,
	.four-sixths,
	.four-fifths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-fifths,
	.three-sixths,
	.two-fourths,
	.two-fifths,
	.two-sixths,
	.two-thirds {
		float: left;
		margin-left: 2.6315789473684%;
	}

	.one-half,
	.three-sixths,
	.two-fourths {
		width: 48.684210526316%;
	}

	.one-third,
	.two-sixths {
		width: 31.578947368421%;
	}

	.four-sixths,
	.two-thirds {
		width: 65.789473684211%;
	}

	.one-fourth {
		width: 23.026315789474%;
	}

	.three-fourths {
		width: 74.342105263158%;
	}

	.one-fifth {
		width: 17.894736842105%;
	}

	.two-fifths {
		width: 38.421052631579%;
	}

	.three-fifths {
		width: 58.947368421053%;
	}

	.four-fifths {
		width: 79.473684210526%;
	}

	.one-sixth {
		width: 14.473684210526%;
	}

	.five-sixths {
		width: 82.894736842105%;
	}

	.first {
		clear: both;
		margin-left: 0;
	}
}
