/* Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner {
	padding: 20px 0;
	@include media(">=tablet") {
		padding: 40px 0;
	}
}

/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

/* Entry Navigation
--------------------------------------------- */

.posts-navigation {
	overflow: hidden;
	width: 100%;

	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
	}
}


/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {

		li {
			border-top: 1px solid $border-color;
			list-style-type: none;
			padding: 16px 0 0;
		}
	}

	.comment-respond {

		input[type="email"],
		input[type="text"],
		input[type="url"] {
			width: 50%
		}

		label {
			display: block;
			margin-right: 12px;

			&[for="subscribe"] {
				display: inline-block;
			}
		}

	}
}
