ul, ol {
	padding-left: 1.5rem;

	li {
		padding-bottom: .5rem;

		&:last-child {
			padding-bottom: 0;
		}

		ul, ol {
			padding-top: .5rem;
		}
	}

	&.wp-block-gallery {
		padding-left: 0;

		li {
			padding-bottom: 0;
		}
	}
}
