/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid $border_color;
	color: $base-color;
	padding: 10px;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
	width: auto;
}

input:focus,
textarea:focus {
	outline: none;
}

@include placeholder-color( $base-color );

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	@extend %button;
}

.entry-content .button:hover {
	color: $white;
}

.button {
	display: inline-block;

	&.button-block {
		display: block;
		width: 100%;
	}
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
