/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid $border_color;
	color: $base-color;
	padding: 10px;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
	width: auto;
}

input:focus,
textarea:focus {
	outline: none;
}

@include placeholder-color( $grey_5 );

button,
button.wpforms-submit,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %button;
}

.entry-content .button:hover {
	color: $white;
}

@include button-styles;

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

/* WPForms
--------------------------------------------- */

.site-container .wpforms-container {
	max-width: 600px;
	margin: $margin_2x auto;

	.wpforms-field {
		padding: 0;
		margin-bottom: $base-margin;
	}

	.wpforms-submit-container {
		padding: 0;
		margin-top: $base-margin;
		text-align: center;
	}

	label.wpforms-error,
	.wpforms-field-label {
		font-size: 14px;
		font-weight: 400;
	}

	label.wpforms-error {
		margin-top: 8px;
	}

	.wpforms-field-label {
		margin-bottom: 8px;
	}
}
