/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Wrap
--------------------------------------------- */

.wrap {
    max-width: map-get( $breakpoints, 'desktop' );
    margin: 0 auto;
	padding-left:  ($grid-gutter / 2);
	padding-right: ($grid-gutter / 2);
	@include clearfix;
}


/* Sidebar Layouts
--------------------------------------------- */

@include media("<medium") {

	.sidebar-primary {
		max-width: 450px;
		margin: 0 auto;
	}
}

@include media(">=medium") {

	// IE Fallback
	.sidebar-content,
	.content-sidebar {

		.site-main {
			float: left;
			width: 768px / 1168px * 100%;
		}

		.sidebar-primary {
			float: right;
			width: 335px / 1168px * 100%;
		}
	}

	.sidebar-content .site-main {
		float: right;
	}

	.sidebar-content .sidebar-primary {
		float: left;
	}

	// Modern Browsers
	@supports( display:grid ) {

		.sidebar-content,
		.content-sidebar {

			.content-area {
				display: grid;
				grid-column-gap: $grid-gutter;
				grid-template-columns: 1fr 335px;
				grid-template-areas: "content sidebar";
			}

			.site-main,
			.sidebar-primary {
				float: none;
				width: 100%;
			}
		}

		.sidebar-content .content-area {
			grid-template-areas: "sidebar content";
			grid-template-columns: 335px 1fr;
		}

		.site-main {
			grid-area: content;
		}

		.sidebar-primary {
			grid-area: sidebar;
		}
	}
}
