/* Post Elements
---------------------------------------------------------------------------------------------------- */

/* Icons
--------------------------------------------- */

.icon-font {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Gallery
--------------------------------------------- */

.gallery {
    margin: 0 auto 40px;
    overflow: hidden;
    width: 100%;
}

.gallery-item {
    float: left;
    margin: 10px 0 0;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
    width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: both;
}

.gallery img {
    border: 2px solid $border_color;
}

.gallery-caption {
    margin-left: 0;
}

/* Images
--------------------------------------------- */

.avatar {
	float: left;
}

.wp-caption {
	margin: 0 0 $base-margin;

    img {
        margin-bottom: 12px;
    }

    .wp-caption-text {
    	font-size: 14px;
    	text-align: center;
    }

    &.alignleft {
        margin: 0 $base-margin $base-margin 0;
    }

    &.aligncenter {
        margin: 0 auto $base-margin;
    }

    &.alignright {
        margin: 0 0 $base-margin $base-margin;
    }
}

img {

    &.alignnone {
        margin: 0;
    }

    &.alignleft {
        float: left;
        margin: 0 $base-margin $base-margin 0;
    }

    &.aligncenter {
        display: block;
    	margin: 0 auto $base-margin;
    }

    &.alignright {
        float: right;
        margin: 0 0 $base-margin $base-margin;
    }

    &.block {
        display: block;
    }

}


/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}
