/* Singular
---------------------------------------------------------------------------------------------------- */

/* Entry Content
--------------------------------------------- */

.entry-content {
	@import "entry-content";
}

.entry-content > *,
.block-area > * {

	margin: $block-margin 0;
	max-width: 100%;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.full-width-content & {
		&.alignwide {
			margin: calc( 2 * #{$block-margin} ) calc(50% - 50vw);
			max-width: 100vw;
			width: auto;

			@include media(">=tablet") {
				margin: calc( 2 * #{$block-margin}) calc(25% - 25vw);
			}
		}

		&.alignfull {
			margin: calc( 2 * #{$block-margin} ) calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;
		}
	}

	&.alignleft {
		/*rtl:ignore*/
		float: left;
		margin: 0 $block-margin $block-margin 0;
	}

	&.alignright {
		/*rtl:ignore*/
		float: right;
		margin: 0 0 $block-margin $block-margin;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.wp-block-quote,
	&.post-listing-block {
		margin-top: calc( 2 * #{$block-margin});
		margin-bottom: calc( 2 * #{$block-margin});
	}

	&.wp-block-search {
		max-width: 568px;
		margin-left: auto;
		margin-right: auto;
	}

}

.entry-content > .alignfull {

	&:first-child {
		margin-top: -36px;
		@include media(">=tablet") {
			margin-top: -48px;
		}
	}

	&:last-child {
		margin-bottom: -36px;
		@include media(">=tablet") {
			margin-bottom: -48px;
		}
	}

}

/* Entry Meta
--------------------------------------------- */

.entry-author {
	font-size: 14px;

	.avatar {
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
	}

	a {
		color: $base-color;
		text-decoration: none;

		&:hover {
			color: $highlight;
		}
	}
}

.breadcrumb {
	font-size: 16px;
	margin-bottom: 24px;

	a {
		color: $base-color;

		&:hover {
			color: $highlight;
		}
	}

	.single & {
		border-top: 1px solid $border-color;
		padding-top: 32px;
		text-align: center;
	}
}

.author-box {
	position: relative;
	padding-left: 120px;
	min-height: 120px;

	.archive & {
		grid-column: 1 / -1;
		max-width: $content-width;
		margin: 0 auto $grid-gap;
	}

	.author-box-title {
		@include font-sizes( 22px, 28px );
	}

	.avatar {
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Single Post
--------------------------------------------- */

.singular {

	.entry-header {
		margin-bottom: 18px;

		@include media(">=tablet") {
			margin-bottom: 48px;
			overflow: hidden;
			width: 100%;

			.entry-author {
				float: left;
				margin: 0;
			}

			.shared-counts-wrap {
				float: right;
			}
		}

		*:last-child {
			margin-bottom: 0;
		}
	}
}

.after-entry {

	& > * {
		margin: 24px 0;

		@include media(">=tablet") {
			margin: 42px 0;
		}
	}
}

.related-posts {
	@supports( display: $grid ) {
		@include media(">=tablet") {
			display: grid;
			grid-template-columns: repeat( 3, 1fr );
			grid-column-gap: 16px;

			header {
				grid-column: 1 / -1;
			}
		}
	}
}

/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0 0 $margin_2x;

		li {
			list-style-type: none;
			border: 1px solid $grey_3;

			article {
				padding: $base-margin;
			}

			&.staff {
				border-color: $highlight;
				border-left-width: 4px;
			}
		}

		& > li {
			border-radius: 3px;
			overflow: hidden;
			margin-bottom: $block-margin;
		}

		.comment-author {
			color: $grey_8;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 28px;
			margin: 0;

			a {
				color: $grey_8;
				text-decoration: none;

				&:hover {
					color: $highlight;
				}
			}

			.says {
				display: none;
			}
		}

		.comment-meta {
			font-size: 12px;
			margin-bottom: 12px;
			color: $grey_6;

			a {
				color: $grey_6;
				text-decoration: none;

				&:hover {
					color: $highlight;
				}
			}
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		.reply {
			font-weight: 700;
			margin-top: 12px;
		}

		ul.children {
			margin: 0;

			li {
				border-top: 1px solid $border-color;
			}
		}

	}

	.comment-respond {

		label {
			display: block;
			margin-right: 12px;
			font-weight: 700;

			&[for="subscribe"],
			&[for="wp-comment-cookies-consent"] {
				display: inline-block;
			}
		}

		@include media(">=tablet") {

			.comment-form-author,
			.comment-form-email {
				float: left;
				width: calc( 50% - 16px );
			}

			.comment-form-email {
				margin-left: 32px;
			}

			input[type="submit"] {
				width: auto;
			}
		}
	}
}
