/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background: $white;
	border-bottom: 1px solid $border-color;
	position: relative;
}

.title-area {
	width: 100%;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	margin: 9px 0;

	@include media(">mobile_menu") {
		float: left;
		width: auto;
	}

	h1.site-title,
	p.site-title {
		margin: 0;
		font-size: 24px;

		a {
			color: $base-color;
			text-decoration: none;
		}
	}

/*
	.site-title a {
	  	background: url(../images/logo.svg) no-repeat center;
	  	background-size: contain;
		display: block;
		text-indent: -9999em;
		width: 100%;
		height: 0;
		padding-bottom: 69px / 165px * 100%;
	}
*/
}


/* Admin Bar
--------------------------------------------- */

@include media(">=tablet" ) {
	.admin-bar .site-container {
		padding-top: 32px;
	}
}

@include media("<tablet") {
	#wpadminbar {
		display: none !important;
	}
}

/* Persistent Header
--------------------------------------------- */

@if( $persistent_desktop ) {
	@include media(">mobile_menu") {

		.site-container {
			padding-top: $persistent_desktop;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;
			height: $persistent_desktop;
		}

		@include media(">=tablet") {
			.admin-bar {

				.site-container {
					padding: 32px + $persistent_desktop;
				}

				.site-header {
					top: 32px;
				}
			}
		}
	}
}

@if( $persistant_mobile ) {
	@include media("<=mobile_menu") {

		.site-container {
			padding-top: $persistant_mobile;
		}

		.site-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 999;

			overflow: scroll;
			max-height: 100vh;
		}

		@include media(">=tablet") {
			.admin-bar {

				.site-container {
					padding: 32px + $persistant_mobile;
				}

				.site-header {
					top: 32px;
				}
			}
		}

	}
}
