/* Style Guide
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	@extend %base-style;
}

a {
	color: $highlight;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

.clearfix {
	@include clearfix;
}

/* Paragraph
--------------------------------------------- */

p {
	margin: 0 0 $base-margin;
	padding: 0;

	&.large,
	&.wp-block-subhead {
    	@include font-sizes( 18px, null, 20px );
		font-style: normal;
		opacity: 1;
	}

	&.small {
	    font-size: 12px;
	}

	&.extra-margin {
		margin-bottom: $margin_2x;
	}
}

/* List Items
--------------------------------------------- */

ol {
    margin: 0 0 $margin_2x 32px;

    li {
        list-style-type: decimal;
    }

    ol {
        margin-bottom: 0;
    }
}

ul {
    margin: 0 0 $margin_2x 32px;

    li {
        list-style-type: disc;
    }

    ul {
        margin-bottom: 0;
    }
}

/* Blockquote
--------------------------------------------- */

blockquote,
blockquote.wp-block-quote {
	background: transparent;
	color: $base-color;
	@include font-sizes( 20px, null, 24px );
	font-style: italic;
	margin: 0;
	@extend %large-margin;
	padding: 0;
	text-align: center;

	&::before,
	&::after {
		background: $highlight;
		content: '';
		display: block;
		width: 100%;
		max-width: 286px;
		height: 8px;
		margin: 0 auto 25px;
	}

	&::after {
		margin: 25px auto 0;
	}

	cite {
		color: $base-color;
		display: block;
		@include font-sizes( 16px, 18px );
		font-weight: 700;
		margin-top: 16px;
	}

    p:last-of-type {
        margin-bottom: 0;
    }

	&.is-large {
		@include font-sizes( 22px, 26px, 32px );
		margin: 0 0 $base-margin;
		padding: 0;

		cite {
			text-align: center;
		}
	}

	&.wp-block-pullquote {
		border: none;
		color: $base-color;
		padding: 0;

		&,
		&.alignleft,
		&.alignright {

			max-width: 286px;
			margin-top: 10px;
			margin-bottom: 0;

			&,
			& > p {
				@include font-sizes( 20px, null, 24px );
				font-style: normal;
				font-weight: 700;
			}
		}

		cite {
			color: $base-color;
			@include font-sizes( 16px, 18px );
			font-weight: 400;
			text-transform: none;
		}
	}
}

/* Horizontal Rule
--------------------------------------------- */

hr,
hr.wp-block-separator,
.clear-line,
img.wp-more-tag {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 1px;
	border: none;
	border-top: 1px solid $border_color;
	margin: $margin_2x 0;
}


/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $base-color;
	line-height: 1.2;
	margin: 0;
	margin-bottom: $base-margin;
	padding: 0;

	a {
		color: $base-color;

		&:hover {
			color: $highlight;
			text-decoration: none;
		}
	}
}

h1 {
    @include font-sizes( 30px, 36px, 40px );
}

h2 {
    @include font-sizes( 24px, 30px, 36px );
}

h3 {
    @include font-sizes( 20px, 24px, 30px );
}

h4 {
    @include font-sizes( 18px, 20px, 24px );
}

h5 {
    @include font-sizes( 16px, 18px, 20px );
}

h6 {
    @include font-sizes( 16px, 18px );
}

/* Objects
--------------------------------------------- */

embed,
iframe,
object,
video {
	max-width: 100%;
	margin-bottom: $base-margin;
}

img {
	display: block;
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0 0 $base-margin;
	/* Extra wide images within figure tags don't overflow the content area. */
	max-width: 100%;
	position: relative;
}

/* Alignments
--------------------------------------------- */

.alignleft {
	display: inline;
	float: left;
	margin-right: $base-margin;
}

.alignright {
	display: inline;
	float: right;
	margin-left: $base-margin;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	margin-left: - #{$wrap_edge};
	margin-right: - #{$wrap_edge};
	width: calc( 100% + #{$wrap_edge} * 2 );
	max-width: calc( 100% + #{$wrap_edge} * 2 );
}

@include media(">=tablet") {

    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: auto;
        max-width: 1000%;
    }

    .alignwide {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
    }

	.alignwide img,
	.alignfull img {
		display: block;
		margin: 0 auto;
	}

}

.wp-caption,
.wp-block-image {
	margin-bottom: $margin_2x;
	text-align: center;

	figcaption {
		font-style: italic;
		font-size: 14px;
	}

	&.alignfull {
		@extend %large-margin;
	}
}
