@import "partials/base";

body.gutenberg-editor-page.wp-admin {

	/* Main column width */
	.editor-post-title__block,
	.editor-default-block-appender,
	.editor-block-list__block {
	    max-width: $grid-max-width;
	}

	/* Width of "wide" blocks */
	.editor-block-list__block[data-align="wide"] {
		margin-left: calc(1 * (100vw / 12));
		margin-right: calc(1 * (100vw / 12));
		max-width: calc(10 * (100vw / 12));
	}

	/* Width of "full-wide" blocks */
	.editor-block-list__block[data-align="full"] {
	    max-width: none;
	}

}


.editor-block-list__block  {

	.wp-admin & {
		@extend %base-style;
	}

	@import "partials/style-guide";
	@import "partials/blocks";
	@import "partials/gutenberg";
}
