%base-style {
	color: $base-color;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
}

%large-margin {
	margin-top: $margin_2x;
	margin-bottom: $margin_2x;

	@include media(">=large") {
		margin-top: $margin_4x;
		margin-bottom: $margin_4x;
	}
}

%button {
	background: $highlight;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: $white;
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	width: auto;
	-webkit-appearance: none;

	&:hover {
		background-color: darken( $highlight, 10%);
		color: $white;
		text-decoration: none;
	}
}

@mixin button-styles() {

	.button:not(.components-button) {
		@extend %button;

		&.button-block {
			display: block;
			width: 100%;
		}

		.wp-core-ui & {
			line-height: 26px;
			height: 46px;
			font-size: 16px;
		}
	}
}
