@mixin base-style {
	color: $base-color;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
}

%transition {
	transition: all 0.1s ease-in-out;
}

%alt_link {
	color: $base-color;
	font-weight: 400;

	&:hover {
		color: $highlight;
		text-decoration: none;
	}
}
