%base-style {
	color: $base-color;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	margin: 0;
}

%button {
	background: $highlight;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: $white;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	width: auto;
	-webkit-appearance: none;

	&:hover {
		background-color: darken( $highlight, 10%);
		color: $white;
		text-decoration: none;
	}
}
