/* Tables
--------------------------------------------- */

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;

	th, td {
		padding: 8px;
		line-height: 20px;
		text-align: left;
		vertical-align: top;
		border-top: 1px solid $table-border;
	}

	th {
		font-weight: bold;
	}

	thead th {
	  vertical-align: bottom;
	}

	caption + thead tr:first-child th,
	caption + thead tr:first-child td,
	colgroup + thead tr:first-child th,
	colgroup + thead tr:first-child td,
	thead:first-child tr:first-child th,
	thead:first-child tr:first-child td {
		border-top: 0;
	}

	tbody + tbody {
		border-top: 2px solid $table-border;
	}

	.table {
		background-color: $table-nested-background;
	}
}

.table-condensed th,
.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 1px solid $table-border;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	th,
	td {
	  border-left: 1px solid $table-border;
	}

	caption + thead tr:first-child th,
	caption + tbody tr:first-child th,
	caption + tbody tr:first-child td,
	colgroup + thead tr:first-child th,
	colgroup + tbody tr:first-child th,
	colgroup + tbody tr:first-child td,
	thead:first-child tr:first-child th,
	tbody:first-child tr:first-child th,
	tbody:first-child tr:first-child td {
		border-top: 0;
	}

	thead:first-child tr:first-child > th:first-child,
	tbody:first-child tr:first-child > td:first-child,
	tbody:first-child tr:first-child > th:first-child {
		@include border-top-left-radius(4px);
	}

	thead:first-child tr:first-child > th:last-child,
	tbody:first-child tr:first-child > td:last-child,
	tbody:first-child tr:first-child > th:last-child {
		@include border-top-right-radius(4px);
	}

	thead:last-child tr:last-child > th:first-child,
	tbody:last-child tr:last-child > td:first-child,
	tbody:last-child tr:last-child > th:first-child,
	tfoot:last-child tr:last-child > td:first-child,
	tfoot:last-child tr:last-child > th:first-child {
		@include border-bottom-left-radius(4px);
	}

	thead:last-child tr:last-child > th:last-child,
	tbody:last-child tr:last-child > td:last-child,
	tbody:last-child tr:last-child > th:last-child,
	tfoot:last-child tr:last-child > td:last-child,
	tfoot:last-child tr:last-child > th:last-child {
		@include border-bottom-right-radius(4px);
	}

	tfoot + tbody:last-child tr:last-child td:first-child {
		@include border-bottom-left-radius(0);
	}

	tfoot + tbody:last-child tr:last-child td:last-child {
		@include border-bottom-right-radius(0);
	}

	caption + thead tr:first-child th:first-child,
	caption + tbody tr:first-child td:first-child,
	colgroup + thead tr:first-child th:first-child,
	colgroup + tbody tr:first-child td:first-child {
		@include border-top-left-radius(4px);
	}

	caption + thead tr:first-child th:last-child,
	caption + tbody tr:first-child td:last-child,
	colgroup + thead tr:first-child th:last-child,
	colgroup + tbody tr:first-child td:last-child {
		@include border-top-right-radius(4px);
	}
}



.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: $table-stripe;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: $table-hover;
}
